{% extends "base.html" %}

{% block head %}
  <title>Camera</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(window).scroll(function() {
    var y = $(window).scrollTop();
    if (y > 0) {
      $("#header").addClass('--not-top');
    } else {
      $("#header").removeClass('--not-top');
    }
    });
  </script>
  <style>
    body {
      height: 100%:
    }
    .container {
      height: 100%;
    }
    img {
      max-height: 100%;
    }
    img.align-self {
      align-self: center;
    }
    #header {
      background: white;
      border-bottom: 1px rgba(0, 0, 0, 0.07) solid;
      z-index: 99;
      &.--not-top {
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.1)
      }
    }
    .flex-container {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
    .flex-container > div {
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  </style>

{% endblock %}

{% block body %}
  <div class="container" style="">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-12 col-sm-15">
        <div class="card shadow-lg rounded">
          <div class="container p-1">
            <img src="{{ url_for('video_feed') }}" class="card-img" alt="video_feed">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
